{{!navbar}}
<div id="mechanic">
    <nav class="navbar navbar-expand-lg sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item nav-link align-middle smaller" href="#">
                    ABOUT US
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    SERVICES
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand align-middle" href="#">
                        <h1><u>AUTOMENDER</u></h1>
                    </a>
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    MECHANICS
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    BLOG
                </li>
            </ul>
        </div>
    </nav>
    {{!mech details}}

    <div class="card col-8 offset-2 mechCard">
        <div class="card-body">
            <div class="row" align="center">
                <div class="col-10 offset-1">
                    <h3>MAKE YOUR BOOKING</h3>
                </div>
            </div>

            <form>
                <div class="row marginsPls" align="center">
                    <div class="col-10 offset-1">

                        <input name="id" type="hidden" value="{{id}}">
                        <select>
                            <option name="chosenMechanic">Select a mechanic</option>
                            {{#each mechanics}}
                            <option value="{{id}}">{{centre_name}}</option>
                            {{/each}}
                        </select>
                        <select>
                            <option>Select a date</option>
                            {{#each centers}}
                            <option name="customerDate" value="{{id}}">{{centre_name}}</option>
                            {{/each}}
                        </select>
                        <select>
                            <option>Select a time</option>
                            {{#each centers}}
                            <option name="customerTime" value="{{id}}">{{centre_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        <button class="btn btn-primary btn-block mechButton">SUBMIT</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>